
@model DigitalSignageUI.Models.Entity.EditContentTemplateInfo

<div id="myForm">
    <div class="menuTitle">
        کادر ۳۲۰ در ۳۰۰
    </div>
    <div class="menuEdit">
        <a href="#WeatherWidget" ng-click="loadWidgetInfo()" class="{{btnTVCAEditDis(@Model.position , 'widget')}}"><span class="icon" data-icon="&#xe02f;"></span></a>
        <a href="@Url.Action("EditContentSelector", "Edit", new { contentId = Model.content_ad_id, type = 1, position = Model.position })" class="{{btnTVCAEditDis(@Model.position , 'slider')}}"><span class="icon" data-icon="&#xe05d;"></span></a>
        <a href="@Url.Action("EditContentSelector", "Edit", new { contentId = Model.content_ad_id, type = 2, position = Model.position })" class="{{btnTVCAEditDis(@Model.position , 'video')}}"><span class="icon" data-icon="&#xe0a5;"></span></a>
        <a href="@Url.Action("EditContentSelector", "Edit", new { contentId = Model.content_ad_id, type = 2, position = Model.position })" class="{{btnTVCAEditDis(@Model.position , 'tv')}}"><span class="icon" data-icon="&#xe0b4;"></span></a>
        <a href="@Url.Action("EditContentSelector", "Edit", new { contentId = Model.content_ad_id, type = 3, position = Model.position })" class="{{btnTVCAEditDis(@Model.position , 'text')}}"><span class="icon" data-icon="&#xe0b3;"></span></a>
    </div>

</div>

<div id="modalWidgetAdd01" class="modalCustom large remodal" data-remodal-id="WeatherWidget">
    <div class="modalCustomContent">

        <div class="modalTitle">
            انتخاب یک ویجت برای نمایش
        </div>

        <div class="modalSelect01">

            <div ng-repeat="x in resultWidgetList">
                <div ng-if="x.type=='4'" class="modalSelectItem {{timeSelect}}" ng-click="selectWidget(x,'timeMode')" ng-model="selectedWidgetPackage">
                    <a class="btnTVCAEditSmall {{timeSelect}}"><span class="icon" data-icon="&#xe0e7;"></span></a>
                    <span class="btnTVCAEditSmallTxt">ساعت و تاریخ</span>

                </div>

                <div  ng-if="x.type=='5'" class="modalSelectItem {{weatherSelect}}" ng-click="selectWidget(x,'weatherMode')" ng-model="selectedWidgetPackage">
                    <a class="btnTVCAEditSmall {{weatherSelect}}"><span class="icon" data-icon="&#xe039;"></span></a>
                    <span class="btnTVCAEditSmallTxt">آب و هوا</span>

                </div>

            </div>
           
               
            
        </div>

        <div class="modalBtnPlace">
            <a class="btnTVCAEditOk" ng-click="saveWidget(@Model.position,@Model.content_ad_id,selectedWidgetPackage.id)"><span class="icon" data-icon="&#xe042;"></span></a>
            @*<a  class="remodal-close"><span class="icon" data-icon="&#xe036;"></span></a>*@
        </div>

    </div>
</div>



