<style>
    .flowplayerVideo {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>





    <div class="rowA">
        <div class="colAA">
            <a data-id="0" href="@Url.Action("EditContent", "Edit", new {contentId= 20049 })">Edit</a>

            <!--Block Position 1-->
            <div data-position="1" class="colAArowA" ng-if="Posi1 == 1">
                @Html.Partial("~/Views/ContentPart/ImagePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="1" class="colAArowA" ng-if="Posi1 == 2 || Posi1 == 6">
                @Html.Partial("~/Views/ContentPart/VideoPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="1" class="colAArowA" ng-if="Posi1 == 3">
                @Html.Partial("~/Views/ContentPart/TextPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="1" class="colAArowA" ng-if="Posi1 == 4">
                @Html.Partial("~/Views/ContentPart/WeatherPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="1" class="colAArowA" ng-if="Posi1 == 5">
                @Html.Partial("~/Views/ContentPart/TimePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>


            <!--Block Position 3-->
            <div data-position="3" class="colAArowB" ng-if="Posi3 == 1">
                @Html.Partial("~/Views/ContentPart/ImagePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="3" class="colAArowB" ng-if="Posi3 == 2 || Posi3 == 6">
                @Html.Partial("~/Views/ContentPart/VideoPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="3" class="colAArowB" ng-if="Posi3 == 3">
                @Html.Partial("~/Views/ContentPart/TextPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="3" class="colAArowB" ng-if="Posi3 == 4">
                @Html.Partial("~/Views/ContentPart/WeatherPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="3" class="colAArowB" ng-if="Posi3 == 5">
                @Html.Partial("~/Views/ContentPart/TimePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>



            <!--Block Position 2-->
            <div data-position="2" class="colAArowC" ng-if="Posi2 == 1">
                @Html.Partial("~/Views/ContentPart/ImagePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="2" class="colAArowC" ng-if="Posi2 == 2 || Posi2 == 6">
                @Html.Partial("~/Views/ContentPart/VideoPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="2" class="colAArowC" ng-if="Posi2 == 3">
                @Html.Partial("~/Views/ContentPart/TextPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="2" class="colAArowC" ng-if="Posi2 == 4">
                @Html.Partial("~/Views/ContentPart/WeatherPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
            <div data-position="2" class="colAArowC" ng-if="Posi2 == 5">
                @Html.Partial("~/Views/ContentPart/TimePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
            </div>
        </div>


        <!--Block Position 5-->
        <div data-position="5" class="colAB" ng-if="Posi5 == 1">
            @Html.Partial("~/Views/ContentPart/ImagePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
        </div>
        <div data-position="5" class="colAB" ng-if="Posi5 == 2 || Posi5 == 6">
            @Html.Partial("~/Views/ContentPart/VideoPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
        </div>
        <div data-position="5" class="colAB" ng-if="Posi5 == 3">
            @Html.Partial("~/Views/ContentPart/TextPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
        </div>
        <div data-position="5" class="colAB" ng-if="Posi5 == 4">
            @Html.Partial("~/Views/ContentPart/WeatherPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
        </div>
        <div data-position="5" class="colAB" ng-if="Posi5 == 5">
            @Html.Partial("~/Views/ContentPart/TimePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
        </div>

    </div>


    <!--Block Position 4-->
    <div class="rowB" data-position="4" ng-if="Posi4 == 1">
        @Html.Partial("~/Views/ContentPart/ImagePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
    </div>
    <div class="rowB" data-position="4" ng-if="Posi4 == 2 || Posi4 == 6">
        @Html.Partial("~/Views/ContentPart/VideoPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
    </div>
    <div class="rowB" data-position="4" ng-if="Posi4 == 3">
        @Html.Partial("~/Views/ContentPart/TextPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
    </div>
    <div class="rowB" data-position="4" ng-if="Posi4 == 4">
        @Html.Partial("~/Views/ContentPart/WeatherPart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
    </div>
    <div class="rowB" data-position="4" ng-if="Posi4 == 5">
        @Html.Partial("~/Views/ContentPart/TimePart.cshtml", new DigitalSignageUI.Models.Entity.EditContentTemplateInfo { content_ad_id = 0 })
    </div>



<script>
    //application.directive("specialView", function ($http) {

    //    return {
    //        link: function (scope, element) {
    //            debugger
    //            $http.get("/ContentPart/VideoPart") // immediately call to retrieve partial
    //              .success(function (data) {
    //                  debugger
    //                  element.html(data);  // replace insides of this element with response
    //              });
    //        }
    //    };
    //});


</script>